body {
	/*padding-top: 40px;*/
	padding-bottom: 40px;
	background-color: #eee;
  
  	padding-top: 50px;
  
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

.navbar-header {
	background-color: #e2e2e2;
	position: relative;
}

.navbar-collapse {
	background-color: #e2e2e2;
}

.navbar-brand {
	background-color: #e2e2e2;
	color: black !important;
	text-shadow: none !important;
	font-family: 'Comfortaa', cursive;
	font-size: 28px;
	left: 50px;
	position: relative;
}

.navbar-right {
	background-color: #e2e2e2;
}

.navbar-brand:hover {
	color: #00b0b9 !important;
	text-shadow: none;
}
.navbar-inverse .navbar-nav>li>a {
	color: #576569 !important;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-shadow: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #00b0b9 !important;
	text-shadow: none;
}

#container {
    width: 100%!important;
    border: medium none;
}
#container {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    width: 990px;
}
body {
	font-family: 'Raleway', sans-serif;
    color: #626161;
}

#fitbit-home-grad-context {
    display: block;
    padding-top: 1px;
    margin-top: -1px;
    background: #00b0b9;
}

#fitbit-home-description {
    text-align: center;
	padding-bottom: 80px;
}

#fitbit-home-description h1 {
    font-size: 40px;
    padding: 55px 0 25px 0;
    color: #fff;
	font-family: 'Raleway', sans-serif;
}

#fitbit-home-description h2 {
    font-size: 18px;
    line-height: 1.7;
    padding: 0 0 35px 0;
    color: #fff;
    max-width: 510px;
    margin: auto;
}
#fitbit-home-description a.btn.white-solid {
    background: #fff;
    color: #ef3d6f;
    padding: 8px 49px 7px;
    font-size: 14px;
}
#fitbit-home-description a.btn.white-solid:hover {
	background: #00b0b9;
	color: #fff;
}
a.btn.brd{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    padding: 8px 20px 7px;
    border: 3px solid #fff;
}
a.btn {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
	font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #f54785;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 1;
	font-weight: bold;
}

.logo {
	height: 30px;
	width: 30px;
	right: 280px;
	top: 10px;
	position: relative;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #e2e2e2;
}

.footer p {
	position: relative;
	top: 20px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #576569 !important;
}

#place-logo {
	position: relative;
	right: 12px;
}